# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Docker
docker-compose.override.yml

# VS Code
.vscode/

# Byte-compiled
*.egg-info/
dist/
build/
